<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yamal LNG</title>




    <style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 760px;
  border: none;
  border-radius: 15px;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 8px;
}

.collapsible:hover {
    background-color: #6c757d;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color:;
  width: 750px;
  margin-left: 40px;
  text-align: left;
}
::-webkit-scrollbar {
    width: 8px;
    background: #000;
    -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
    background: #777;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
* {
  scrollbar-width: thin;
}
    </style>


    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet">
    <link href="static/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/logo.png" />
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
     <!--        <a href="/"><h3 class="float-md-start mb-0">Cyber Security Portal</h3></a> -->
        <a href="/" class="float-md-start mb-0"><img src="static/logo.png" width="128" height="37"></a>
      <nav class="nav nav-masthead justify-content-center float-md-end">
          <!--        <a class="nav-link py-1 px-0" aria-current="page" href="/">Home</a> -->
          <a class="nav-link py-1 px-0 active" aria-current="page" href="/QA">Вопросы</a>
           <!--        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>  -->
           <!--        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>  -->
      </nav>
    </div>
  </header>

  <main class="px-3">
      <h3>Ответы на часто задаваемые вопросы:</h3>
      <div class="first" style="overflow-y:scroll; height:450px;">

<button type="button" class="collapsible">К нам приезжает подрядчик для работ по договору. Ему нужен Wi-Fi.</button>
<div class="content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;В договоре с подрядной организацией Вам необходимо найти пункт, где ЯСПГ обязуется предоставить подрядчику различные услуги (рабочее место, телефон, компьютер, Wi-Fi). Если в списке предоставляемых услуг отсутствует доступ к сети интернет или сети Wi-Fi, то необходимо запрашивать доступ через Директум. <br>&nbsp;&nbsp;&nbsp;&nbsp; Для этого подрядчик должен прислать запрос на доступ к сети Wi-Fi на официальном бланке организации. Далее этот бланк необходимо загрузить в Директум и создать служебную записку на имя Директора ДИТ (Ларионов С.П.) и Директора ДСБ (Петухов А.В.)</p>
</div>
<button type="button" class="collapsible">Мне согласовали заявку в ISIM, но доступ не появился.</button>
<div class="content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Проверьте письмо, которое вы получили от ISIM. В письме должно быть написано "заявка успешно исполнена". Скорее всего вы получили письмо, что заявка "...успешно согласована, и отправлена на исполнение". <br>&nbsp;&nbsp;&nbsp;&nbsp;Если в письме присутвует пометка "успешно исполнена", отсчитайте 20 минут с момента получения письма и перезагрузите компьютер. <br>&nbsp;&nbsp;&nbsp;&nbsp;Если все действия сделаны, но доступ не появился - перешлите письмо на почтовый ящик "cybersecurity@yamalspg.ru" с пометкой отсутвия доступа.</p>
</div>
<button type="button" class="collapsible">Нам нужно передать большой объем данных контрагенту.</button>
<div class="content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Для передачи данных внешним контрагентам создана папка "Q:\Public\Передача документов внешним адресатам\Documents". В нее имеют доступ все сотрудники. Вам необходимо скопировать данные в эту папку и создать СЗ в Директум на имя Безлепкина Владимира Петровича.<br>&nbsp;&nbsp;&nbsp;&nbsp; Шаблон СЗ можно найти в той же папке.
</p>
</div>
<button type="button" class="collapsible">Мне нужно пользоваться USB-накопителям.</button>
<div class="content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Вам необходимо запросить доступ в ISIM - "USB - Чтение". Это означает, что вы сможете копировать данные с USB-накопителя на корпоративный компьютер. После того, как этот доступ согласуют, Вам неоходимо подойти в кабинет 108 АБК КОЖО и расписаться в инструкции по пользованию USB накопителем.</p>
</div>
<button type="button" class="collapsible">Мне нужно перенести данные с USB на корпоративный компьютер.</button>
<div class="content">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;У нас есть специальная система под такого рода задачи - Nextcloud. Это компьютеры с открытым доступом к USB установленные: <br> &nbsp;&nbsp;&nbsp;- АБК КОЖО к.108. <br> &nbsp;&nbsp;&nbsp;- АБК завода 1 этаж левое крыло. <br> Рядом с каждым ПК есть инструкция по пользованию системой. Коротко: подходите к определенному месту в любое время, перекачиваете файлы используя инструкции, на ваш корпоратинвый ящик приходит письмо, через которое вы сможете получить доступ к этим файлам. Срок хранения файлов - 1 день.</p>
</div>
<button type="button" class="collapsible">Open Section 1</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button type="button" class="collapsible">Open Section 1</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

          </div>



  </main>

  <footer class="mt-auto text-white-50">
    <p>Если Вы не нашли ответа на интересующий Вас вопрос, создайте заявку в Service Desk и Ваша заявка будет обработана в ближайшее время.</p>
  </footer>
</div>
<script type="text/javascript">
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
  </body>
</html>
